### la source des données
https://github.com/zygmuntz/goodbooks-10k

In [1]:
#integration de spark dans le notebook
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\spark\\spark-3.0.0-bin-hadoop2.7'

In [2]:
from pyspark import SparkContext,SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [3]:
from pyspark.sql.types import *

In [4]:
conf=SparkConf().setAppName('appName').setMaster('local')#creation d'un fichier conf
sc=SparkContext.getOrCreate()
spark=SparkSession(sc)#creation d'une session spark

In [5]:
books=spark.read.csv("data/books.csv",header=True)#book  conntient les information sur les livres

In [6]:
#les données à apprendre pour l'algo doivent etre des entiers
simpleSchema=StructType([StructField("user_id",IntegerType(),True),\
                                  StructField("book_id",IntegerType(),True),\
                                  StructField("rating",IntegerType(),True)])

In [7]:
ratings=spark.read.csv("data/ratings.csv",header=True,schema=simpleSchema)#chargemtn des notes

In [8]:
to_read=spark.read.csv("data/to_read.csv",header=True)#chargement des livre que des utilisateur ont lu, on ne sait pas si ils sont notés

In [9]:
# creer vue à partir de la lecture csv spark pour appliquer du sql dessus
books.createOrReplaceTempView("books")

In [10]:
ratings.createOrReplaceTempView("ratings")

In [11]:
to_read.createOrReplaceTempView("to_read")

#### source de données ici

DataFrame[summary: string, user_id: string, book_id: string]

In [12]:
# apercu donné de la table book_base
spark.sql("select * from books").show()

+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
|bookID|               title|             authors|average_rating|      isbn|       isbn13|language_code|  num_pages|ratings_count|text_reviews_count|publication_date|           publisher|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
|     1|Harry Potter and ...|J.K. Rowling/Mary...|          4.57|0439785960|9780439785969|          eng|        652|      2095690|             27591|       9/16/2006|     Scholastic Inc.|
|     2|Harry Potter and ...|J.K. Rowling/Mary...|          4.49|0439358078|9780439358071|          eng|        870|      2153167|             29221|        9/1/2004|     Scholastic Inc.|
|     4|Harry Potter and ...|        J.K. Rowling|          4.42|0439554896|9780439554893|          eng|        352|         6333|               244|       11/1/2003|          Scholastic|
|     5|Harry Potter and ...|J.K. Rowling/Mary...|          4.56|043965548X|9780439655484|          eng|        435|      2339585|             36325|        5/1/2004|     Scholastic Inc.|
|     8|Harry Potter Boxe...|J.K. Rowling/Mary...|          4.78|0439682584|9780439682589|          eng|       2690|        41428|               164|       9/13/2004|          Scholastic|
|     9|Unauthorized Harr...|W. Frederick Zimm...|          3.74|0976540606|9780976540601|        en-US|        152|           19|                 1|       4/26/2005|        Nimble Books|
|    10|Harry Potter Coll...|        J.K. Rowling|          4.73|0439827604|9780439827607|          eng|       3342|        28242|               808|       9/12/2005|          Scholastic|
|    12|The Ultimate Hitc...|       Douglas Adams|          4.38|0517226952|9780517226957|          eng|        815|         3628|               254|       11/1/2005|      Gramercy Books|
|    13|The Ultimate Hitc...|       Douglas Adams|          4.38|0345453743|9780345453747|          eng|        815|       249558|              4080|       4/30/2002|       Del Rey Books|
|    14|The Hitchhiker's ...|       Douglas Adams|          4.22|1400052920|9781400052929|          eng|        215|         4930|               460|        8/3/2004|               Crown|
|    16|The Hitchhiker's ...|Douglas Adams/Ste...|          4.22|0739322206|9780739322208|          eng|          6|         1266|               253|       3/23/2005|  Random House Audio|
|    18|The Ultimate Hitc...|       Douglas Adams|          4.38|0517149257|9780517149256|          eng|        815|         2877|               195|       1/17/1996|         Wings Books|
|    21|A Short History o...|         Bill Bryson|          4.21|076790818X|9780767908184|          eng|        544|       248558|              9396|       9/14/2004|      Broadway Books|
|    22|Bill Bryson's Afr...|         Bill Bryson|          3.44|0767915062|9780767915069|          eng|         55|         7270|               499|       12/3/2002|      Broadway Books|
|    23|Bryson's Dictiona...|         Bill Bryson|          3.87|0767910435|9780767910439|          eng|        256|         2088|               131|       9/14/2004|      Broadway Books|
|    24|In a Sunburned Co...|         Bill Bryson|          4.07|0767903862|9780767903868|          eng|        335|        72451|              4245|       5/15/2001|      Broadway Books|
|    25|I'm a Stranger He...|         Bill Bryson|          3.90|076790382X|9780767903820|          eng|        304|        49240|              2211|       6/28/2000|      Broadway Books|
|    26|The Lost Continen...|         Bill Bryson|          3.83|0060920084|9780060920081|          eng|        299|        45712|              2257|       8/28/1990|William Morrow Pa...|
|    27|Neither Here nor ...|         Bill Bryson|          3.86|0380713802|9780380713806|          eng|        254|        48701|              2238|       3/28/1993|William Morrow Pa...|
|    28|Notes from a Smal...|         Bill Bryson|          3.91|0380727501|9780380727506|          eng|        324|        80609|              3301|       5/28/1997|William Morrow Pa...|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
only showing top 20 rows

In [13]:
# apercu donné de la table book_base
spark.sql("select * from to_read").show()

+-------+-------+
|user_id|book_id|
+-------+-------+
|      9|      8|
|     15|    398|
|     15|    275|
|     37|   7173|
|     34|    380|
|     34|    483|
|     34|   8598|
|     34|   3581|
|     70|    498|
|     76|   4250|
|     94|   1167|
|     29|   3508|
|     29|   4475|
|     29|    323|
|     29|    131|
|     29|   2304|
|    105|    233|
|    113|   6756|
|    113|   7127|
|     29|   2284|
+-------+-------+
only showing top 20 rows

In [13]:
spark.catalog.listTables()#affichage de la liste de vues enregistrés

[Table(name='books', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='ratings', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='to_read', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [76]:
%load_ext autoreload
%autoreload 2

In [14]:
import pandas as pd
import numpy as np

In [11]:
spark.sql("select * from books order by ratings_count desc").toPandas().head(10)#livre les plus notés

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,18405,Gone with the Wind,Margaret Mitchell,4.29,0446675539,9780446675536,eng,1037,999139,15323,4/1/1999,Warner Books
1,13767,Red River Vol. 16 (Red River #16),Chie Shinohara,4.45,1421505584,9781421505589,eng,191,999,13,1/1/2007,Viz Media
2,15669,Strangers In Paradise Pocket Book 5,Terry Moore,4.38,1892597381,9781892597380,eng,392,999,24,12/14/2005,Abstract Studio
3,9919,A Christmas Memory,Truman Capote,4.24,0375837892,9780375837890,eng,48,9982,849,10/10/2006,Knopf Books for Young Readers
4,40184,Encore Provence: New Adventures in the South o...,Peter Mayle,4.00,0679762698,9780679762690,eng,240,9980,254,4/25/2000,Vintage
5,22472,Discourse on the Origin of Inequality,Jean-Jacques Rousseau,3.82,0486434141,9780486434148,eng,73,9975,210,6/4/2004,Dover Publications
6,20505,The Print (Ansel Adams Photography #3),Ansel Adams/Robert Hardy Baker,4.37,0821221876,9780821221877,en-US,203,997,14,6/1/1995,Little Brown and Company
7,34558,Real Ultimate Power: The Official Ninja Book,Robert Hamburger,4.00,080652569X,9780806525693,eng,193,997,117,7/1/2004,Citadel
8,41464,Moon in a Dewdrop: Writings of Zen Master Dogen,Dōgen/Kazuaki Tanahashi/Robert Aitken/Reb Ande...,4.28,086547186X,9780865471863,eng,356,997,27,10/31/1995,North Point Press
9,8515,The Man Who Listens to Horses,Monty Roberts/Lucy Grealy/Lawrence Scanlan,4.12,034542705X,9780345427052,en-US,352,9963,206,11/28/1998,Ballantine Books

In [12]:
spark.sql("select * from books order by average_rating desc,ratings_count desc").toPandas().head(10)[["title","ratings_count","average_rating"]]#livre les mieux noté et les plus notés

,title,ratings_count,average_rating
0,The Diamond Color Meditation: Color Pathway to...,5,5.00
1,Literature Circle Guide: Bridge to Terabithia:...,4,5.00
2,Bulgakov's the Master and Margarita: The Text ...,4,5.00
3,The Goon Show Volume 4: My Knees Have Fallen ...,3,5.00
4,Middlesex Borough (Images of America: New Jersey),2,5.00
5,Zone of the Enders: The 2nd Runner Official St...,2,5.00
6,The Goon Show Volume 11: He's Fallen in the W...,2,5.00
7,Winchester Shotguns,2,5.00
8,The New Big Book of America,2,5.00
9,Tyrannosaurus Wrecks (Stanley #1),2,5.00

In [15]:
books.groupby("authors").agg(sf.countDistinct("bookid").alias("nb_books")).orderBy("nb_books").show()#nombre de livres ecrit par auteur

+--------------------+--------+
|             authors|nb_books|
+--------------------+--------+
|Richard A. Knaak/...|       1|
|Louis-Ferdinand C...|       1|
|    Laurence Olivier|       1|
|Giorgio De Santil...|       1|
|Detlev J.K. Peuke...|       1|
|          James Frey|       1|
|Gardner Dozois/Ge...|       1|
|    Amanda Eyre Ward|       1|
|Grant Morrison/St...|       1|
|Wendy  Mitchell/J...|       1|
|Leo Tolstoy/Const...|       1|
|Michael Eliot Howard|       1|
|Sally Potter/Virg...|       1|
|William Shakespea...|       1|
|Jonathan Clements...|       1|
|        Doug Stanton|       1|
|J.M. Coetzee/Davi...|       1|
|Albert Jack/Ann Page|       1|
|Zadie Smith/David...|       1|
|C.G. Jung/James L...|       1|
+--------------------+--------+
only showing top 20 rows

### mise en place du moteur de recomandation

In [12]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row

In [13]:
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator

In [33]:

als=ALS(userCol="user_id",itemCol="book_id",ratingCol="rating",coldStartStrategy="drop",nonnegative=True,implicitPrefs=False)

In [34]:
import gc
gc.collect()

1587

In [35]:
#grid search des meilleurs hyperparamtres
param_grid = ParamGridBuilder()\
.addGrid(als.rank,[25]).addGrid(als.maxIter,[25]).addGrid(als.regParam,[.05])\
.build()
print("nombre de models qui seronts téstés en grid search",len(param_grid))

nombre de models qui seronts téstés en grid search 1

In [36]:
#mise en place de la fonction de loss qui sera optimisé lors de la descente de gradient rmse
evaluator = RegressionEvaluator(metricName="rmse",labelCol="rating",predictionCol="prediction")#calculateur de rmse

cv=CrossValidator(estimator=als,estimatorParamMaps=param_grid,evaluator=evaluator,numFolds=2)#cross validation à utiliser si puissance disponible

In [19]:
#sampled_rat=ratings.sample(0.5,3)

In [37]:
train,test=ratings.randomSplit([0.7,0.3])#split

In [38]:
train.persist()

DataFrame[user_id: int, book_id: int, rating: int]

In [39]:

model=als.fit(train)#entrainement du model

In [27]:
prediction=model.transform(test)#prediction en donnée de test

In [28]:
prediction.createOrReplaceTempView("prediction")

In [29]:
spark.sql("select * from prediction").show()#les prediction ont l'air d'ere assez proche des notes données

+-------+-------+------+----------+
|user_id|book_id|rating|prediction|
+-------+-------+------+----------+
|   1645|    148|     4| 3.5029333|
|  19553|    148|     5|  4.165433|
|  28170|    148|     4|  3.315678|
|  33569|    148|     5| 3.5783021|
|  34061|    148|     4| 3.1708705|
|  40386|    148|     3| 3.6848207|
|   2235|    148|     4| 3.8921618|
|   3179|    148|     3| 2.8298013|
|  19351|    148|     2| 3.1620228|
|  31928|    148|     5|  4.275437|
|  36312|    148|     5|  3.285214|
|  36583|    148|     5| 3.2394557|
|  37734|    148|     4|  4.246719|
|  39069|    148|     5| 3.1915061|
|  48345|    148|     5| 4.6517873|
|   1903|    148|     4|  3.932023|
|  10798|    148|     3| 3.5681567|
|  14377|    148|     3| 3.2825634|
|  15173|    148|     2| 2.9241166|
|  17775|    148|     3| 3.7793336|
+-------+-------+------+----------+
only showing top 20 rows

In [30]:
rmse_train =evaluator.evaluate(model.transform(train))#rmse en train

In [31]:
rmse_test = evaluator.evaluate(prediction)#rmse en test

In [32]:
print("Root-mean-square error train = " + str(rmse_train))
print("Root-mean-square error test = " + str(rmse_test))

Root-mean-square error train = 0.7798146252261801
Root-mean-square error test = 0.8344528842157122